:root {
	/* --accent: #99E1D9;
	--second-accent: #F7567C;
	--nav-text: black;
	--title-text: #5D576B;
	--p-text: #5D576B;
	--border: #FFFAE3;
	--bgc: #FCFCFC; */

	--accent: #374054;
	--second-accent: #d61961;
	--nav-text: white;
	--nav-text-hover: black;
	--title-text: #39444d;
	--p-text: #5c646b;
	--border: #dcd9d9;

	/* 
	
	#FCFCFC white
	#F7567C pink
	#FFFAE3 cream
	#99E1D9 green
	#5D576B grey
		
	*/
}

/*-------------------- Global Styling --------------------*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

/*-------------------- Section Heading Styling --------------------*/
.section-heading {
	margin: 3rem 0 3rem 0;
	position: relative;
	z-index: -1;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
}

.section-heading:after {
	content: "";
	margin: 0 auto;
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 0;
	right: 0;
	width: 3em;
	height: 1px;
	background: var(--second-accent);
}

/*-------------------- Box Styling --------------------*/
.box-style {
	margin: 5em 0em;
	border-bottom: 1px solid var(--border);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-style-large {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

/*-------------------- Header --------------------*/
header {
	position: sticky;
	top: 0;
	text-align: center;
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.75s;
}

@keyframes dropHeader {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

/*-------------------- NavBar --------------------*/
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 3em;
	background-color: var(--second-accent);
}

.navbar .nav-items {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

.navbar .nav-items li {
	list-style: none;
	padding: 0 1em;
	transition: 0.5s;
}

.navbar .nav-items li:hover,
.navbar .nav-items li:focus {
	transform: scale(1.1);
}

.navbar .nav-items li a {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
	color: var(--nav-text);
}

.navbar .nav-items li a:hover,
.navbar .nav-items li a:focus {
	color: var(--nav-text-hover);
	transform: scale(1.2);
}

.navbar .menu-icon,
.navbar .cancel-icon {
	margin: 1em;
	display: none;
	align-self: center;
	font-size: 1.5em;
	color: var(--nav-text);
	cursor: pointer;
}

/*-------------------- Home --------------------*/
#home {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.home__h1 {
	margin: 0 0 3rem 0;
	font-size: 3em;
}

.home__subtitle {
	margin: 0 0 3rem 0;
	font-size: 2em;
	font-weight: 300;
}

.home__btn {
	padding: 1em 2em;
	display: inline-block;
	text-decoration: none;
	border-radius: 2em;
	border: 1px solid var(--border);
	color: var(--nav-text);
	font-weight: bold;
	background-color: var(--second-accent);
	transition: 0.5s ease all;
}

.home__btn:hover {
	text-decoration: none;
	background-color: var(--accent);
}

/*-------------------- About --------------------*/
#about {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.about__p {
	color: var(--p-text);
	margin: 0 10%;
	padding: 0 2em;
}

/*-------------------- Tech Stack --------------------*/
#tech-stack {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.tech-stack__ul {
	margin: 0 auto;
	padding: 0;
}

.tech-stack__li {
	margin: 7px;
	padding: 5px 10px;
	display: inline-block;
	list-style: none;
	font-size: 1.2em;
	color: var(--accent);
}

#tech-stack svg {
	width: 4rem;
}

/*-------------------- Experience --------------------*/
#experience {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

#experience h3 {
	margin: 0;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 300;
	color: var(--accent);
}

#experience h4 {
	margin: 0 0 15px 0;
	font-size: 1.2em;
	font-weight: 300;
	color: var(--title-text);
}

#experience p {
	margin: 0;
	font-size: 0.9em;
	color: var(--p-text);
}

/*-------------------- Projects --------------------*/
#projects {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.project__article {
	margin: 0 2em 4em 2em;
	padding: 4em;
	align-self: center;
	max-width: 20em;
	border-radius: 1em;
}

.project__img {
	width: 100%;
}

.project__info {
	margin: 2em;
}

.project__info h3 {
	margin: 0 0 1em 0;
	font-size: 1.5em;
	font-weight: 300;
	color: var(--accent);
}

.project__info p {
	margin: 0 0 1em 0;
	font-size: 0.9em;
	color: var(--p-text);
}

.project__info a {
	margin: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: var(--second-accent);
}

/*-------------------- Content --------------------*/
#contact {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* border-bottom: 1px solid var(--border); */
}

#contact svg {
	width: 5rem;
	transition: 0.5s;
}

#contact svg:hover {
	transform: scale(1.2);
}

.contact__ul {
	margin-top: 2em;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contact__li {
	list-style: none;
}

.contact__link {
	text-decoration: none;
}

.contact__p {
	color: var(--title-text);
}

/*-------------------- Footer --------------------*/
footer {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--nav-text);
	background: var(--second-accent);
}

footer h2 {
	margin: 0.5em;
}

footer p {
	margin: 0em;
	padding: 0.5em;
}

.footer__ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer__li {
	list-style: none;
}

.footer__li svg {
	margin: 0 1em;
	height: 1.2em;
	fill: var(--nav-text);
	transition: 0.2s;
}

.footer__li svg:hover {
	fill: var(--nav-text-hover);
	transform: scale(1.1);
}

@media only screen and (max-width: 600px) {

	/* nav */
	.navbar {
		display: flex;
		justify-content: flex-end;
	}

	.navbar .nav-items {
		margin: 3em 0 0 0;
		padding: 0;
		display: inline-block;
		position: fixed;
		top: 0;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		text-align: center;
		background: var(--second-accent);
		transition: left 0.3s ease;
	}

	.navbar .nav-items.active {
		left: 0;
	}

	.navbar .nav-items li {
		margin: 3em 0;
		line-height: 2em;
	}

	.navbar .nav-items li a {
		font-size: 1.5em;
	}

	.navbar .menu-icon {
		display: block;
	}

	.navbar .cancel-icon.show {
		display: block;
	}

	.navbar .menu-icon span.hide {
		display: none;
	}

	/* home */
	#home {
		padding: 1em 0em;
	}

	.home__h1 {
		margin: 0 0 1em 0;
		font-size: 2.5em;
	}

	.home__h2 {
		margin: 0 0 2em 0;
		font-size: 1.5em;
	}

	/* about */
	#about {
		padding: 1em 0em;
	}

	.about__p {
		margin: 0;
		padding: 1em;
	}

	/* tech-stack */
	#tech-stack {
		padding: 1em 0em;
	}

	.tech-stack__li {
		font-size: 0.75em;
	}

	#tech-stack svg {
		width: 3rem;
	}

	/* projects */
	#projects {
		padding: 1em 0em;
	}

	.project__article {
		margin: 1em 1em 2em 1em;
		padding: 2em;
	}

	/* contact */
	#contact {
		padding: 1em 0em;
	}

	#contact svg {
		width: 3rem;
	}
}