:root {
	--accent: hsl(337, 79%, 47%);
	--accent-transparent: rgba(215, 25, 98, 0.25);
	--second-accent: hsl(64, 71%, 81%);
	--second-accent-transparent: rgba(236, 241, 172, 0.25);
	--nav-text: hsl(0, 0%, 100%);
	--nav-text-hover: hsl(0, 0%, 0%);
	--title-text: hsl(207, 15%, 26%);
	--p-text: hsl(208, 8%, 39%);
	--text-background: hsla(208, 8%, 39%, 0.282);
	--border: hsl(0, 4%, 86%);
}

/*-------------------- Global Styling --------------------*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

/*-------------------- Section Heading Styling --------------------*/
.section-heading {
	margin: 3rem 0 3rem 0;
	position: relative;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
}

.section-heading:after {
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 3em;
	height: 1px;
	background: var(--accent);
}

/*-------------------- Styling Animation --------------------*/
.glow-effect {
	position: relative;
	cursor: pointer;
}

.glow-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: blur(1.5em);
	background: linear-gradient(
		90deg,
		var(--second-accent),
		var(--accent),
		var(--second-accent)
	);
	background-size: 500%;
	border-radius: 2em;
	transition: opacity 0.5s ease-in-out;
	animation: glow-effect-links 20s linear infinite;
}

.glow-effect:hover:before {
	opacity: 1;
}

@keyframes glow-effect-links {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 500% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/*-------------------- Header --------------------*/
header {
	position: sticky;
	z-index: 1;
	top: 0;
	text-align: center;
	animation-name: dropHeader;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.75s;
}

@keyframes dropHeader {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

/*-------------------- NavBar --------------------*/
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 3em;
	background-color: var(--accent);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.navbar .nav-items {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

.navbar .nav-items li {
	list-style: none;
	padding: 0 0.8em;
	transition: 0.5s;
}

.navbar .nav-items li:hover,
.navbar .nav-items li:focus {
	transform: scale(1.1);
}

.navbar .nav-items li a {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--nav-text);
}

.navbar .nav-items li a:hover,
.navbar .nav-items li a:focus {
	color: var(--nav-text-hover);
	transform: scale(1.2);
}

.navbar .menu-icon,
.navbar .cancel-icon {
	margin: 1em;
	display: none;
	align-self: center;
	font-size: 1.5em;
	color: var(--nav-text);
	cursor: pointer;
}

/*-------------------- Home --------------------*/
#home {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.home__h1 {
	margin: 0 0 3rem 0;
	font-size: 3em;
}

.home__subtitle {
	margin: 0 0 3rem 0;
	font-size: 2em;
	font-weight: 300;
}

.home__button {
	margin: 2.5em 0;
	padding: 1em 2em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--nav-text);
	background: linear-gradient(150deg, var(--accent), var(--second-accent));
	border-radius: 2em;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: 0.5s ease all;
}

.home__button:hover {
	transform: scale(1.1);
}

.home__button > span {
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #fff;
	pointer-events: none;
	animation: ripples 0.5s linear infinite;
}

@keyframes ripples {
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.5;
	}

	100% {
		width: 500px;
		height: 500px;
		opacity: 0;
	}
}

/*-------------------- About --------------------*/
#about {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.about__p {
	color: var(--p-text);
	margin: 0 10%;
	padding: 0 2em;
}

/*-------------------- Tech Stack --------------------*/
#tech-stack {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.tech-stack__ul {
	margin: 0 auto;
	padding: 0;
}

.tech-stack__li {
	margin: 0.5em;
	padding: 0.2em 0.8em;
	display: inline-block;
	list-style: none;
	font-size: 1.2em;
	color: var(--p-text);
}

#tech-stack svg {
	width: 4rem;
}

/*-------------------- Projects --------------------*/
#projects {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-bottom: 1px solid var(--border);
}

.project__container {
	margin: 1em 2em 4em 2em;
	padding: 0 4em;
	position: relative;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 20em;
	height: 30em;
	border-radius: 1em;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.project__front,
.project__back {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(0deg);
	transform-style: preserve-3d;
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	box-shadow: 0 6px 12px var(--accent-transparent),
		0 6px 12px var(--second-accent-transparent);
}

.project__front.project__one {
	background-image: url(/images/prepareme.png);
}

.project__front.project__two {
	background-image: url(/images/wip1.png);
}

.project__back {
	color: var(--nav-text);
	background: linear-gradient(
		45deg,
		var(--accent) 0%,
		var(--second-accent) 100%
	);
	transform: rotateY(180deg);
}

.project__content {
	perspective: 1000px;
	transform: translateY(0%) translateZ(5em) scale(1);
}

.project__content h2 {
	margin-bottom: 1em;
	font-size: 2em;
}

.project__content p {
	padding: 0 2em;
	font-size: 1.1em;
}

.project__content p:after {
	content: "";
	margin: 0 auto;
	margin-top: 1.5em;
	display: block;
	left: 0;
	right: 0;
	width: 100px;
	height: 2px;
	background: var(--nav-text);
}

.project__content a {
	margin: 0.8em;
	display: flex;
	justify-content: space-evenly;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--second-accent);
}

.project__container:hover > .project__back {
	transform: rotateY(0deg);
}

.project__container:hover > .project__front {
	transform: rotateY(-180deg);
}

/*-------------------- Content --------------------*/
#contact {
	margin: 0 5%;
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* border-bottom: 1px solid var(--border); */
}

#contact svg {
	width: 5rem;
	transition: 0.5s;
}

#contact svg:hover {
	transform: scale(1.2);
}

.contact__ul {
	margin-top: 2em;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contact__li {
	list-style: none;
}

.contact__link {
	text-decoration: none;
}

.contact__p {
	color: var(--title-text);
}

/*-------------------- Footer --------------------*/
footer {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--nav-text);
	background: var(--accent);
}

footer h2 {
	margin: 0.5em;
}

footer p {
	margin: 0em;
	padding: 0.5em;
}

.footer__ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer__li {
	list-style: none;
}

.footer__li svg {
	margin: 0 1em;
	height: 1.2em;
	fill: var(--nav-text);
	transition: 0.2s;
}

.footer__li svg:hover {
	fill: var(--nav-text-hover);
	transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
	/* nav */
	.navbar {
		display: flex;
		justify-content: flex-end;
		box-shadow: none;
	}

	.navbar .nav-items {
		margin: 3em 0 0 0;
		padding: 0;
		display: inline-block;
		position: fixed;
		top: 0;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		text-align: center;
		background: var(--accent);
		transition: left 0.3s ease;
	}

	.navbar .nav-items.active {
		left: 0;
	}

	.navbar .nav-items li {
		margin: 3em 0;
		line-height: 2em;
	}

	.navbar .nav-items li a {
		font-size: 1.5em;
	}

	.navbar .menu-icon {
		display: block;
	}

	.navbar .cancel-icon.show {
		display: block;
	}

	.navbar .menu-icon span.hide {
		display: none;
	}

	/* home */
	#home {
		padding: 1em 0em;
	}

	.home__h1 {
		margin: 0 0 1em 0;
		font-size: 2.5em;
	}

	.home__h2 {
		margin: 0 0 2em 0;
		font-size: 1.5em;
	}

	.home__button {
		font-size: 1em;
	}

	/* about */
	#about {
		padding: 1em 0em;
	}

	.about__p {
		margin: 0;
		padding: 1em;
	}

	/* tech-stack */
	#tech-stack {
		padding: 1em 0em;
	}

	.tech-stack__li {
		font-size: 0.75em;
	}

	#tech-stack svg {
		width: 3rem;
	}

	/* projects */
	#projects {
		padding: 1em 0em;
	}

	/* contact */
	#contact {
		padding: 1em 0em;
	}

	#contact svg {
		width: 3rem;
	}
}
